html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
  animation: fadeIn 2s ease-in;
  background-color: #f4f4f4;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 10%, transparent 10%);
  background-size: 10px 10px;
}
header {
  background: #333;
  color: white;
  padding: 20px;
  animation: slideDown 1s ease-out;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

nav ul li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #f4a261; /* Warna garis */
  transition: width 0.4s ease-in-out;
}
nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #f4a261;
}

section {
  padding: 50px;
  animation: fadeInUp 1.5s ease-in-out;
}
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
  display: block;
  margin: 20px auto;
  animation: fadeInUp 1s ease-in-out;
}
.profile-picture:hover {
  transform: scale(1.1);
}
footer {
  background: #333;
  color: white;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}
section {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 50px auto; 
  text-align: center;
}
h2 {
  text-align: center;
}
.school-link {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .school-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #f4a261;
    transition: width 0.3s ease-in-out;
  }
  
  .school-link:hover {
    color: #f4a261;
  }
  
  .school-link:hover::after {
    width: 100%;
  }
  
@keyframes fadeInUp {
  from {
    transform: translateY(50px); /* Mulai dari bawah */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

section {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-50px); /* Mulai dari atas */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
